.about-us {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 50px auto;
  margin-top:10px;
  max-width: 800px;
}

header {
  color: #de1b89;
}
header p {
  color: #f4f4f4;
  background-color: rgb(20, 20, 20);
}
header span {
  font-weight: 1000;
  color: #de1b89;
}
.main-content {
  margin-top: 20px;
}

.introduction {
  color: #f4f4f4;
  font-size: 18px;
  line-height: 1.6;
}

.technology-stack {
  margin-top: 10px;
  color: #de1b89;
}

.stack-item {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stack-item img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.openai {
  background: #f4f4f4;
}
.stack-item span {
  color: #f4f4f4;
}

.visual-elements {
  margin: 0px 0px 10px 0px;
}

.contact-information {
  margin: 10px;
  color: #de1b89;
}

.info-item {
  margin-top: 0px;
  display: flex;
  align-items: center;
}

.info-item span {
  margin-right: 10px;
  color: #f4f4f4;
}

.info-item a {
  color: #3498db;
}
